{% extends "base.html" %}

{% block mainbody %}
    <div id="container" style="margin: 150px; width: 500px; padding: 40px; background-color: #F8F8F8; border-radius: 0 10px;">
        <h2>{{ number }} movie(s) in your Expect List:</h2>

        {% for item in items %}
            <h2><a href="/movie/movie_detail/{{ item.movieid }}" target="_self">{{ item.title }}</a></h2>

            <form role="form" action="/movie/expect/{{ item.movieid }}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
            <hr>
        {% endfor %}
    </div>


{% endblock %}
