{% extends "base.html" %}

{% block mainbody %}
    <div id="container" style="margin: 150px; width: 500px; padding: 40px; background-color: #F8F8F8; border-radius: 0 10px;">
    <h3>User Profile:</h3>
    <b><h4 style="color:blue">Username: {{ user.username }}</h4></b><br>
    <h4><b>Recommended for you:</b></h4>
    {% load static %}
    {% for movie in rec %}
        <a href="/movie/movie_detail/{{ movie.movieid }}">
            {{movie.title}}
        </a><br>
    {% endfor %}<br>
    <h4><b>Most Viewed Genres:</b></h4>
    {% load static %}
    {% for genre in genres %}
        {{genre}}<br>
    {% endfor %}
    <h4><b>All Genres:</b></h4>
    {% load static %}
    {% for i in all %}
        {{i}}<br>
    {% endfor %}
  </div>
</div>
{% endblock %}
